.App {
  text-align: center;
}

@font-face {
  font-family: 'Gloria-Hallelujah';
  src: url('./assets/fonts/GloriaHallelujah-Regular.ttf');
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.score {
  background-color:#f1d73c;
  height: 100px;
  width: 80px;
  color: black;
  line-height: 100px;
  text-align: center;
  border-radius: 5px;
  margin-left: 30px;
  font-family: "Gloria-Hallelujah";
  font-size: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Gloria-Hallelujah';
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.item-container {
  width: 800px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tanah {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  margin: 10px 15px;
  /* background-color: aliceblue; */
}

.button-container {
  align-self: flex-end;
}

.tanah::after {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  background: url('./assets/images/dirt.svg') bottom center no-repeat;
  background-size: 90%;
  position: absolute;
  bottom: -20px;
}

.inspired {
  font-family: 'Gloria-Hallelujah';
  font-size: 16px;
  margin-top: -20px;
}

.tikus {
  width: 100%;
  height: 100%;
  background: url('./assets/images/mole.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 160px;
  transition: all .5s;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button,.button-disabled {
  margin-top: 10px;
  width: 90px;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.button {
  background-color: black;
  cursor: pointer;
}

.button-disabled {
  background-color: #969696;
  cursor: not-allowed;
}

.button-text {
  color: white;
  font-size: 16px;
  line-height: 30px;
  font-family: 'Gloria-Hallelujah';

}

.muncul {
  top: 0px;
  transition: all .4s;
}
/*Transisisi*/

.mole-enter,
.mole-appear {
  /*We give the list the initial dimension of the list button*/
  top: 160px;
}
/* This is where we can add the transition*/
.mole-enter-active,
.mole-appear-active {
  top: 0;
  transition: all 450ms;
}

/* This fires as soon as the this.state.showList is false */
.mole-exit {
  top: 0;
}
/* fires as element leaves the DOM*/
.mole-exit-active {
  top: 160px;
  transition: all 350ms;
}
